# Decision Tree Regression

#decision tree are versatile machine learning alg that can perform both calssification 
and regression tasks and even multioutput tasks

#which produces only binary trees : nonleaf nodes always have two children(i.e,. questions onl have yes / no answers )

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('bangalore house price prediction.csv')

In [5]:
df.head(5)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

# Split Data

In [12]:
X = df.drop('price', axis=1)
y = df['price']

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=51)

# decision Tree Regression

In [34]:
from sklearn.tree import DecisionTreeRegressor

In [35]:
regressor= DecisionTreeRegressor(criterion="mse")
regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [36]:
regressor.score(X_test,y_test)

0.8618088639442207

In [22]:
# predict the value of home

In [41]:
X_test.iloc[-1, :]

bath                               2.000000
balcony                            0.000000
total_sqft_int                  1566.000000
bhk                                2.000000
price_per_sqft                 11494.252874
                                   ...
location_Hosur Road                0.000000
location_Horamavu Banaswadi        0.000000
location_Domlur                    0.000000
location_Mahadevpura               0.000000
location_Tumkur Road               0.000000
Name: 43, Length: 107, dtype: float64

In [46]:
regressor.predict([X_test.iloc[-1, :]])  # predicted price

array([170.])

In [47]:
y_test.iloc[-1]                           # actual price

180.0

In [48]:
pred = regressor.predict(X_test)
pred

array([ 83.  ,  39.95, 120.  , ...,  34.3 ,  62.5 , 170.  ])

In [49]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64