In [1]:
# KNN K nearest neighbor regression

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("bangalore house price prediction.csv")

In [4]:
df.head(3)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
X=df.drop("price",axis=1)
y=df['price']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [10]:
# KNN

In [11]:
from sklearn.neighbors import KNeighborsRegressor

regressor= KNeighborsRegressor(n_neighbors=5)

In [12]:
regressor.fit(X_train,y_train)

KNeighborsRegressor()

In [14]:
regressor.score(X_test,y_test)

0.8858214084886539

In [16]:
# predict

In [17]:
X_test.iloc[-1,:]

bath                               2.000000
balcony                            0.000000
total_sqft_int                  1566.000000
bhk                                2.000000
price_per_sqft                 11494.252874
                                   ...
location_Hosur Road                0.000000
location_Horamavu Banaswadi        0.000000
location_Domlur                    0.000000
location_Mahadevpura               0.000000
location_Tumkur Road               0.000000
Name: 43, Length: 107, dtype: float64

In [18]:
regressor.predict([X_test.iloc[-1,:]])   #predicted value

array([184.4])

In [19]:
y_test.iloc[-1]              # actual value

180.0

In [20]:
y_pred=regressor.predict(X_test)  # predicted 
y_pred

array([ 77.378,  39.808, 120.2  , ...,  33.405,  63.   , 184.4  ])

In [21]:
y_test                             # actuall

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64