In [1]:
#

In [10]:
import pandas as pd 
import numpy as np

In [11]:
df=pd.read_csv("bangalore house price prediction.csv")
df.head(5)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [12]:
X=df.drop("price",axis=1)
y=df['price']

In [13]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [14]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [1]:
# polynomial  regression

In [15]:
from sklearn.linear_model import LinearRegression 
from sklearn.preprocessing import PolynomialFeatures
from sklearn

In [18]:
poly_reg=PolynomialFeatures(degree=2)
poly_reg.fit(X_train)
X_train_poly = poly_reg.transform(X_train)
X_test_poly  =poly_reg.transform(X_test)

In [19]:
X_train_poly.shape,X_test_poly.shape

((5696, 5886), (1424, 5886))

In [20]:
lr=LinearRegression()
lr.fit(X_train_poly,y_train)

LinearRegression()

In [21]:
lr.score(X_test_poly, y_test)  #accuracy

0.9991873400560563

In [23]:
#lets predict 
lr.predict([X_test_poly[0,:]])

array([80.])

In [26]:
y_pred=lr.predict(X_test_poly)
y_pred   #predicted value

array([ 80.,  40., 120., ...,  32.,  63., 180.])

In [27]:
y_test   #actual value

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

In [28]:
# RMSE 

from sklearn.metrics import mean_squared_error

mse= mean_squared_error(y_test,y_pred)

rmse=np.sqrt(mse)
 
mse ,rmse

(16.32872498620753, 4.040881709009499)