# R squared regression

r - squared is a statistical measure of how close the data are to the fitted regression line. 
it is also known as the coefficient of detemination , or the 
coeffiecient of multiple determination for multiple regression 

1 is best score 100% 
0 is worst score 0%
 
    
    r^2 = 1- ss(res)/ ss(tot)

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('bangalore house price prediction.csv')
df.head(4)

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
X=df.drop('price',axis=1)
y=df['price']

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [13]:
# linear regression

In [14]:
from sklearn.linear_model import LinearRegression 
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [15]:
lr.predict(X_test)

array([ 76.90661876,  15.25005377, 113.6828165 , ...,  21.30296864,
        71.43462962, 230.0414626 ])

In [19]:
lr.score(X_test,y_test)

0.7903837092682251

In [20]:
y_pred=lr.predict(X_test)

R-squared

In [18]:
from sklearn.metrics import r2_score

In [21]:
r2_score(y_test,y_pred)

0.7903837092682251