# Ridge and Lasso Regression 
regularization is to reduce the complexity of model and scale down the magnitude

In [1]:
# ridge  and lasso regression :
ridge regression shrinks the coeffiecients towards zero ,
while lasso regression encourages some of them to be exactly zero

simple linear regression

In [3]:
import pandas as pd 
df=pd.read_csv('bangalore house price prediction.csv')
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
X=df.drop('price',axis=1)
X.head(4)

,bath,balcony,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,location_Whitefield,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,1672.0,3,8971.291866,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,1750.0,3,8514.285714,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,1750.0,3,8571.428571,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,1250.0,2,3200.000000,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
y=df['price']
y.head(5)

0    150.0
1    149.0
2    150.0
3     40.0
4     83.0
Name: price, dtype: float64

In [6]:
#now spliting the data 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)

In [8]:
#feature scaling 
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [12]:
from sklearn.linear_model import LinearRegression 
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [22]:
lr.predict(X_test)

array([ 76.90661876,  15.25005377, 113.6828165 , ...,  21.30296864,
        71.43462962, 230.0414626 ])

In [11]:
lr.score(X_test,y_test)

0.7903837092682257

In [23]:
#implementing ridge and lasso regression

In [24]:
from sklearn.linear_model import Ridge,Lasso

In [33]:
rd=Ridge()
rd.fit(X_train,y_train)
rd.score(X_test,y_test)

0.7905686374336629

In [34]:
ls=Lasso()
ls.fit(X_train,y_train)
ls.score(X_train,y_train)

0.8583216952474064

In [37]:
#lets increase alpha value 
rd2=Ridge(alpha=5)
rd2.fit(X_train,y_train)
rd2.score(X_test,y_test)

0.7913029774651532

In [39]:
#lets increase alpha value
ls2=Lasso(alpha=4)
ls2.fit(X_train,y_train)
ls2.score(X_train,y_train)

0.8419581144709747